[SddmGreeterTheme]
Name=vayori
Description=Vayori login screen
Author=Darkkal44
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
